.personal-info{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.personal-info-item{
    margin-top: 0px;
    margin-bottom: 16px;
    display:flex; 
    flex-direction: row; 
    justify-content:left;
   }

.personal-info-text{
    font-weight: 400;
    color: dimgray;
    margin:auto;
    margin-left: 0;
    padding-left: 5px;
    font-size:small;
    text-align: left;
}

.personal-email{
    word-break: break-all;
}

.info{
    text-align: justify;
}

.about-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    align-items: center;
    margin: 0;
}

.about-title{
    margin: 0; 
    padding: 0;
    height: 32px;
}

.editing-overlay{
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(43, 38, 46, 0.75);
    backdrop-filter: blur(5px);
    z-index: 500; 
    position: fixed; 
    top: 0;
}

.overlay-container{
    background-color: rgb(235, 198, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    border-radius: 16px;
    padding: 16px 32px;
    box-shadow: 0px 0px 10px  black;
}

.overlay-text{
    color: black;
    font-weight: 500;
    background-color: transparent;
    border: 0;
}

#about-me-textarea{
    width: 100%;
    background-color: whitesmoke;
    border-radius: 12px;
    text-align: justify;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.overlay-alerts-buttons-container{
    display: flex;
    justify-content: space-between;
}

.overlay-alerts-container{
    height: 48px;
    align-content: center;
    padding-right: 12px;
}

.overlay-alert-text{
    font-size: small;
    color: indigo;
    
}

.overlay-buttons-container{
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 575px) {
    .personal-info-item{
        margin: auto;
        margin-top: 0px;
        margin-bottom: 16px;
    }

    .about-title .info{
        margin-left: 12px;
        margin-right: 12px;
    }

    .overlay-container{
        padding: 16px 16px;
    }
}

@media screen and (max-width: 800px) {
    .overlay-container{
        width: 90vw;
    }
}