<app-header></app-header>

<app-banner></app-banner>

<div class="container-lg">
    <div class="row">
        <div class="col-lg-3 col-sm-4 col-12"><app-persona-imagen-perfil></app-persona-imagen-perfil></div>
        <div class="col-lg-9 col-sm-8 col-12"><app-persona-nombre></app-persona-nombre></div>
    </div>
</div>

<hr>

<div class="container-lg" id="info-personal">
    <div class="row">
            <div class="col-lg-3 col-sm-4 col-12"><app-persona-info-personal></app-persona-info-personal></div>
            <hr class="d-inline d-sm-none">
            <div class="col-lg-9 col-sm-8 col-12"><app-persona-descripcion></app-persona-descripcion></div>
    </div>
</div>

<hr>

<div class="container-fluid background">

    <img [src]="persServ.imagenFondo" class="background-img" alt="Imagen de fondo">
    <div  class="container-fluid background-fade"></div>

    <app-experiencia id="experiencia"></app-experiencia>

    <hr>
        
    <app-educacion id="educacion"></app-educacion>
        
    <hr>
        
    <app-skills id="skills"></app-skills>

    <hr>

    <app-proyecto id="proyectos"></app-proyecto>

    <div style="height:30px"></div>
</div>
