<app-header></app-header>

<app-banner></app-banner>

<hr>

<app-about-me></app-about-me>

<hr>

<div class="container-fluid background">

    <img [src]="persServ.imagenFondo" class="background-img">
    <div  class="container-fluid background-fade"></div>

    <app-experiencia></app-experiencia>

    <hr>
        
    <app-educacion></app-educacion>
        
    <hr>
        
    <app-skills></app-skills>

    <hr>

    <app-proyecto></app-proyecto>

    <div style="height:30px"></div>
</div>
