<div class="container-xl">
   
    <div class="component-header">
        <h5>Educación</h5>

        <div class="component-header-buttons">
            <app-add-button (click)="showModal=true" [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'"></app-add-button>
            <app-drag-button (click)="showModalOrder=true" [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'"></app-drag-button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of service.items" style="padding: 12px;">
            <app-educacion-item [object]="item"></app-educacion-item>
        </div>
    </div>    
</div>

<app-educacion-form [isNewItem]="true"  (showModalEvent)="changeShowModal($event)" *ngIf="showModal"></app-educacion-form>
<app-educacion-order-form (showModalEvent)="changeShowModalOrder($event)" *ngIf="showModalOrder"></app-educacion-order-form>