<div class="editing-modal">
    
    <div class="modal-container">
        
        <p class="modal-title">¿Deseas eliminar este elemento?</p>
        <p class="modal-text">Esta acción no se puede deshacer.</p>

        <div class="modal-buttons-container">
            <button type="submit" class="btn my-button" (click)="confirmDelete()">
                <p class="button-text">Eliminar</p>
            </button>

            <button type="button" class="btn my-button" (click)="cancelDelete()" >
                <p class="button-text">Cancelar</p>
            </button>
        </div>
    </div>
</div>