#header-background{
    background-color: var(--back-color);
    box-shadow: 0px 0px 10px  var(--shadow-color);
    position: sticky;
    top:0;
    z-index: 300;
}

#logo-arg{
    height: 60px;
    margin:10px;
}

.buttons{
    justify-content: right ;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.icon-button-text{
    padding-left: 5px;
}

.thin-button{
    border-width: 1px;
    font-weight:400;
}

.dropdown-button{
    color: var(--main-color);
    border-color: var(--main-color);
    margin-right: 3%;
    border-width: 2px;
    font-weight: 600;
    height: 46px;
}