#header-background{
    background-color: var(--header-color);
    box-shadow: 0px 0px 10px  var(--shadow-color);
    position: sticky;
    top:0;
    z-index: 300;
}

#logo-arg{
    height: 60px;
    margin:10px;
    filter: invert();
}

.buttons{
    justify-content: right ;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.icon-button-text{
    padding-left: 5px;
}

.offcanvas-button{
    color: var(--main-color);
    border-width: 0;
    background-color: transparent;
}

.offcanvas{
    background-color: var(--low-opacty-black);
}

.offcanvas-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.offcanvas-text{
    color: var(--text-color);
}

.offcanvas-item{
    color: var(--text-color);
}

.offcanvas-item:hover{
    background-color: var(--dropdown-header-item-opacity);
}

.offcanvas-item:active{
    background-color: var(--dropdown-header-item-opacity);
}


