<div class="container-fluid" id="header-background">
    <div class="row"> 
        <div class="col">
            <img id="logo-arg" [src]="logoArgSrc" alt="Logo Argentina Programa">    
        </div>
               
        <div class="col buttons"> 

            <button class="offcanvas-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-menu" aria-controls="offcanvas-menu-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>

            <button role="button" class="btn my-button" *ngIf="login.editando && !smallScreen" (click)="login.editando = false">
                <p class="d-none d-sm-inline button-text">Terminar edición</p>
            </button>

            <button role="button" class="btn my-button" *ngIf="login.editando" (click)="showModal = true">
                <p class="button-text">Aspecto</p>
            </button>
        </div>
    </div>
</div>
  
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-menu" aria-labelledby="offcanvas-menu-header">
    <div class="offcanvas-body">
        <h5 class="offcanvas-title">Bienvenido</h5>
        <p class="offcanvas-text">Has ingresado como: {{login.user()}}</p>
        <p class="offcanvas-item" (click)="login.editando = true" *ngIf="!login.editando && login.isAdmin()" data-bs-dismiss="offcanvas">Activar edición</p>
        <p class="offcanvas-item" (click)="login.editando = false" *ngIf="login.editando" data-bs-dismiss="offcanvas">Terminar edición</p>
        
    </div>
    <div class="offcanvas-footer">
        <p class="offcanvas-item" (click)="auth.cerrarSesion()">Cerrar sesión</p>
    </div>
</div>

<app-tema-form *ngIf="showModal" (showModalEvent)="changeShowModal($event)" propiedad="imagenFondo"></app-tema-form>
  

