<div class="container-xl">
   
    <div class="component-header">
        <h5>Experiencia Laboral</h5>

        <div class="col-4 component-header-buttons">
            <app-add-button (click)="overlayOpen=true" [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'"></app-add-button>
            <app-drag-button (click)="overlayOpenOrder=true" [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'"></app-drag-button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4 col-12" *ngFor="let item of service.items" style="padding: 12px;">
            <app-experiencia-item [object]="item"></app-experiencia-item>
        </div>
    </div>    
</div>

<app-experiencia-form [isNewItem]="true"  (overlayOpenEvent)="changeOverlayOpen($event)" *ngIf="overlayOpen"></app-experiencia-form>
<app-experiencia-order-form (overlayOpenEvent)="changeOverlayOpenOrder($event)" *ngIf="overlayOpenOrder"></app-experiencia-order-form>