<div class="container-xl">
   
    <div class="component-header">
        <h5>Experiencia Laboral</h5>

        <div class="col-4 component-header-buttons">
            <app-add-button (click)="overlayOpen=true" [style.visibility]="!login.logedIn? 'hidden': 'visible'"></app-add-button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4" *ngFor="let item of service.items" style="padding: 12px;">
            <app-experiencia-item [expObject]="item"></app-experiencia-item>
        </div>
    </div>    
</div>


<!--Overlay para la edición-->
<div class="editing-overlay" *ngIf="overlayOpen">
    
    <div class="overlay-container">
        
        <!--Título-->
        <p class="overlay-title">Ingresa un nuevo ítem.</p>
        <hr class="overlay-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()" class="overlay-form">
            
            <div class="overlay-scrollable-inputs">
                <div>
                    <label for="title-id" class="overlay-text">Título: </label>
                    <input id="title-id" type="text" formControlName="titulo" class="overlay-input">   
                </div>
                <br>
                <div>
                    <label for="text-id" class="overlay-text">Descripción (opcional): </label>
                    <input id="text-id" type="text" formControlName="descripcion" class="overlay-input">
                </div>    
                <br>
                <div>
                    <label for="place-id" class="overlay-text">Lugar (opcional): </label>
                    <input id="place-id" type="text" formControlName="lugar" class="overlay-input">
                </div>    
                    <br>
                <div>
                    <label for="start-date-id" class="overlay-text">Fecha de inicio (opcional): </label>
                    <input id="start-date-id" type="date" formControlName="fechaInicio" class="overlay-input">
                </div>          
                <br>
                <div>
                    <label for="end-date-id" class="overlay-text">Fecha de finalización (opcional): </label>
                    <input id="end-date-id" type="date" formControlName="fechaFin" class="overlay-input">
                </div> 
                <br>
                <div>
                    <label for="current-id" class="overlay-text">Es tu trabajo actual?: </label>
                    <input id="current-id" type="checkbox" formControlName="isCurrent">
                </div>        
            </div>
        
            <div class="overlay-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="overlay-alerts-container">
                    <div *ngIf="titulo?.errors?.['required']  && (titulo?.dirty || titulo?.touched)">
                        <p class="overlay-alert-text">Escribe un título para el ítem.</p>
                    </div>
                    <div *ngIf="titulo?.errors?.['maxLenght']  && (titulo?.dirty || titulo?.touched)">
                        <p class="overlay-alert-text">El título no puede superar los 60 caracteres.</p>
                    </div>
                    <div *ngIf="descripcion?.errors?.['maxLenght']  && (descripcion?.dirty || descripcion?.touched)">
                        <p class="overlay-alert-text">La descripción no puede superar los 250 caracteres.</p>
                    </div>
                    <div *ngIf="lugar?.errors?.['maxLenght']  && (lugar?.dirty || lugar?.touched)">
                        <p class="overlay-alert-text">El lugar no puede superar los 50 caracteres.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="overlay-buttons-container">
                    <button type="submit" class="btn btn-outline my-button" [disabled]="!componentForm.valid">
                        <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                        <img [src]="global.checkIcon" alt="Guardar" *ngIf="smallScreen" class="button-icon"> 
                    </button>
                    <button type="button" class="btn btn-outline my-button" (click)="cancelForm()">
                        <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                        <img [src]="global.xIcon" alt="Cancelar" *ngIf="smallScreen" class="button-icon">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>