<div class="container-xl exp-contenedor">
   
   <h3>Experiencia</h3>
   
    <div class="row">
        <div class="col-4 exp-col">
            <div class="card exp-card">
                <div class="card-body">
                   <h5 class="card-title exp-title">Experiencia 1</h5>
                   <p class="card-text exp-text">Una vez vi un gato mientras esperaba al juani y lo acaricie. Fue una buena experiencia. Soy muy buena acariciando gatos. Los gatos no me muerden y yo tampoco los muerdo. A veces los gatos no quieren caricias y hay que respetarlos.</p>
                 </div>
             </div>
        </div>
        <div class="col-4 exp-col">
            <div class="card exp-card">
                <div class="card-body">
                   <h5 class="card-title exp-title">Experiencia 1</h5>
                   <p class="card-text exp-text">Una vez vi un gato mientras esperaba al juani y lo acaricie. Fue una buena experiencia. Soy muy buena acariciando gatos. Los gatos no me muerden y yo tampoco los muerdo. A veces los gatos no quieren caricias y hay que respetarlos.</p>
                 </div>
             </div>
        </div>
        <div class="col-4 exp-col">
            <div class="card exp-card">
                <div class="card-body">
                   <h5 class="card-title exp-title">Experiencia 1</h5>
                   <p class="card-text exp-text">Una vez vi un gato mientras esperaba al juani y lo acaricie. Fue una buena experiencia. Soy muy buena acariciando gatos. Los gatos no me muerden y yo tampoco los muerdo. A veces los gatos no quieren caricias y hay que respetarlos.</p>
                 </div>
             </div>
        </div>
        <div class="col-4 exp-col">
            <div class="card exp-card">
                <div class="card-body">
                   <h5 class="card-title exp-title">Experiencia 1</h5>
                   <p class="card-text exp-text">Una vez vi un gato mientras esperaba al juani y lo acaricie. Fue una buena experiencia. Soy muy buena acariciando gatos. Los gatos no me muerden y yo tampoco los muerdo. A veces los gatos no quieren caricias y hay que respetarlos.</p>
                 </div>
             </div>
        </div>
    </div>



    

   

</div>