<div class="editing-modal">
    
    <div class="modal-container">
        
        <!--Título-->
        <p class="modal-title">Cambia el orden de los items. </p>
        <hr class="modal-hr">

        <!--Lista-->
        <div cdkDropList class="order-list scroll-items" (cdkDropListDropped)="changeOrder($event)">
            <div class="order-item" *ngFor="let i of list" cdkDrag>{{i.titulo}}</div>
        </div>

        <div class="modal-alerts-buttons-container"> 
            <!--Alertas-->
            <div class="modal-alerts-container"></div>

            <!--Boton-->
            <div class="modal-buttons-container">
                <app-save-button (clickEvent)="submitOrder()"></app-save-button>
            </div>
        </div>
    </div>
</div>