<div class="editing-modal">
    
    <div class="modal-container">
        
        <!--Título-->
        <p class="modal-title">Sube una imagen: </p>
        <hr class="modal-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()">
            <div>
                <label for="img-id" class="visually-hidden">Selecciona una imagen</label>
                <input id="img-id" type="file" accept="image/*" formControlName="imagen" class="form-control"  (change)="onFileChange()" >   
            </div>          
        
            <div class="modal-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="modal-alerts-container">
                </div>

                <!--Botones-->
                <div class="modal-buttons-container">
                    <app-save-button (click)="submitForm()" [desactivado]="!componentForm.valid"></app-save-button>
                    <app-cancel-button (click)="cancelForm()"></app-cancel-button>
                    
                    <button aria-label="Eliminar imagen" type="button" class="btn my-button" (click)="imagenPorDefecto()">
                        <p class="d-none d-sm-flex button-text">Imagen por defecto</p>
                        <p class="d-flex d-sm-none button-text">Borrar</p>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>