<div class="editing-modal">
    
    <div class="modal-container">
        
        <!--Título-->
        <p class="modal-title">Ingresa los siguientes datos personales.</p>
        <hr class="modal-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()">
            
            <div class="modal-scrollable-inputs">
                <div class="modal-input-container">
                    <label for="nombre-id" class="modal-text">Nombre: </label>
                    <input id="nombre-id" type="text" formControlName="nombre" class="modal-input">
                    <span class="focus-border-input"></span>  
                </div>
                <br>
                <div class="modal-input-container">
                    <label for="apellido-id" class="modal-text">Apellido: </label>
                    <input id="apellido-id" type="text" formControlName="apellido" class="modal-input">
                    <span class="focus-border-input"></span>
                </div> 
                <br>
                <div class="modal-input-container">
                    <label for="trabajo-id" class="modal-text">Ocupación: </label>
                    <input id="trabajo-id" type="text" formControlName="ocupacion" class="modal-input">
                    <span class="focus-border-input"></span>
                </div>
            </div>
        
            <div class="modal-alerts-buttons-container" > 

                <!--Alertas-->
                <div class="modal-alerts-container">
                    <div *ngIf="nombre?.errors?.['required']  && (nombre?.dirty || nombre?.touched)">
                        <p class="modal-alert-text">El nombre es obligatorio.</p>
                    </div>
                    <div *ngIf="apellido?.errors?.['required']  && (apellido?.dirty || apellido?.touched)">
                        <p class="modal-alert-text">El apellido es obligatorio.</p>
                    </div>
                    <div *ngIf="ocupacion?.errors?.['required']  && (ocupacion?.dirty || ocupacion?.touched)">
                        <p class="modal-alert-text">La ocupación es obligatoria.</p>
                    </div>
            
                    <div *ngIf="nombre?.errors?.['maxlength']  && (nombre?.dirty || nombre?.touched)">
                        <p class="modal-alert-text">El nombre no puede superar los 25 caracteres.</p>
                    </div>
                    <div *ngIf="apellido?.errors?.['maxlength']  && (apellido?.dirty || apellido?.touched)">
                        <p class="modal-alert-text">El apellido no puede superar los 25 caracteres.</p>
                    </div>
                    <div *ngIf="ocupacion?.errors?.['maxlength']  && (ocupacion?.dirty || ocupacion?.touched)">
                        <p class="modal-alert-text">La ocupación no puede superar los 60 caracteres.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="modal-buttons-container">
                    <app-save-button (clickEvent)="submitForm()" [desactivado]="!componentForm.valid"></app-save-button>
                    <app-cancel-button (click)="cancelForm()"></app-cancel-button>
                </div>
            </div>
        </form>
    </div>
</div>