<div class="editing-modal">
    
    <div class="modal-container">
        
        <!--Título-->
        <p class="modal-title">Personaliza el aspecto de la página.</p>
        <hr class="modal-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()">

            <p class="modal-text">Elije un color:</p>
            <div class="row colores-container">
                <div class="col-3 color-container" *ngFor="let tema of temaServ.listaTemas">
                    <button 
                    [attr.aria-label]="tema.id == temaSeleccionado ? tema.nombre + ' seleccionado' : tema.nombre"
                    type="button"
                    class='circulo-color' 
                    [ngStyle]="{'background-color': 'rgb(' + tema.mainColor + ')'}"
                    [id]="tema.id == temaSeleccionado ? 'selected' : ''"
                    (click)="temaSeleccionado = tema.id"
                    ></button>
                </div>
            </div>

            <label for="img-id" class="modal-text">Sube una imagen de fondo: </label>
            <div>
                <input id="img-id" type="file" accept="image/*" formControlName="imagen" class="form-control"  (change)="onFileChange()" >   
            </div>
        
            <!--Alertas-->
            <div class="modal-alerts-container-imagen">
                <div *ngIf="fileSource?.errors?.['fileSizeExceded']  && (imagen?.dirty || imagen?.touched)">
                    <p class="modal-alert-text">El tamaño de la imagen debe ser menor a 25 MB.</p>
                </div>
                <div *ngIf="fileSource?.errors?.['notImage']  && (imagen?.dirty || imagen?.touched)">
                    <p class="modal-alert-text">El archivo seleccionado no es una imagen.</p>
                </div>
            </div>

            <!--Botones-->
            <div class="modal-buttons-container-imagen">
                <app-save-button (clickEvent)="submitForm()" [desactivado]="!componentForm.valid"></app-save-button>
                <app-cancel-button (click)="cancelForm()"></app-cancel-button>
                <button aria-label="Eliminar imagen" type="button" class="btn my-button" (click)="imagenPorDefecto()">
                    <p class="d-none d-sm-flex button-text">Imagen por defecto</p>
                    <p class="d-flex d-sm-none button-text">Borrar</p>
                </button>
            </div>
        </form>
    </div>
</div>