.banner{
    height: 40vh;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding: 28px
}

.edit-button{
    background-color: black;
    color: whitesmoke;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.button-text{
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
}
