<!--Información personal-->
<div class="personal-info">
        
    <div class="personal-info-item">
        <img [src]="locationIcon" alt="Ubicación">
        <p class="personal-info-text">{{pers.persona?.ubicacion}}</p>
    </div>

    <div class="personal-info-item">
        <img [src]="workplaceIcon" alt="Lugar de trabajo o estudio">
        <p class="personal-info-text">{{pers.persona?.lugarTrabajo}}</p>
    </div>

    <div class="personal-info-item">
        <img [src]="emailIcon" alt="Dirección de email">
        <p class="personal-info-text personal-email">{{pers.persona?.email}}</p>
    </div>

    <div class="personal-info-item">
        <img [src]="phoneIcon" alt="Número de teléfono">
        <p class="personal-info-text">{{pers.persona?.telefono}}</p>
    </div>

    <app-edit-button [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'" (click)="clickEditButton()" class="edit-button-here"></app-edit-button>
</div>



<!--Overlay para la edición-->
<div class="editing-overlay" *ngIf="overlayOpen">
    
    <div class="overlay-container">
        
        <!--Título -->
        <p class="overlay-title"> Ingresa los siguientes datos personales.</p>
        <hr class="overlay-hr">

        <!--Formulario-->
        <form [formGroup]="form.componentForm" (ngSubmit)="submitForm()">
            <div>
                <label for="location-id" class="overlay-text">Ubicación: </label>
                <input id="location-id" type="text" formControlName="ubicacion" class="overlay-input">   
            </div>
            <br>
            <div>
                <label for="workplace-id" class="overlay-text">Lugar de trabajo/estudio: </label>
                <input id="workplace-id" type="text" formControlName="lugarTrabajo" class="overlay-input">
            </div>  
            <br>        
            <div>
                <label for="email-id" class="overlay-text">Dirección de e-mail: </label>
                <input id="email-id" type="text" formControlName="email" class="overlay-input">
            </div> 
            <br>
            <div>
                <label for="phone-id" class="overlay-text">Número de teléfono: </label>
                <input id="phone-id" type="text" formControlName="telefono" class="overlay-input">
            </div> 
        
        
            <div class="overlay-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="overlay-alerts-container">
                    <div *ngIf="form.ubicacion?.errors?.['required']  && (form.ubicacion?.dirty || form.ubicacion?.touched)">
                        <p class="overlay-alert-text">Escribe tu ubicación.</p>
                    </div>
                    <div *ngIf="form.lugarTrabajo?.errors?.['required']  && (form.lugarTrabajo?.dirty || form.lugarTrabajo?.touched)">
                        <p class="overlay-alert-text">Escribe tu lugar de trabajo.</p>
                    </div>
                    <div *ngIf="form.email?.errors?.['required']  && (form.email?.dirty || form.email?.touched)">
                        <p class="overlay-alert-text">Escribe tu dirección de e-mail.</p>
                    </div>
                    <div *ngIf="form.telefono?.errors?.['required']  && (form.telefono?.dirty || form.telefono?.touched)">
                        <p class="overlay-alert-text">Escribe tu número de teléfono.</p>
                    </div>
                    <div *ngIf="form.email?.errors?.['email']  && (form.email?.dirty || form.email?.touched)">
                        <p class="overlay-alert-text">Escribe una dirección de e-mail válida.</p>
                    </div>
                    <div *ngIf="form.telefono?.errors?.['pattern']  && (form.telefono?.dirty || form.telefono?.touched)">
                        <p class="overlay-alert-text">Escribe un número de teléfono válido.</p>
                    </div>
                
                    <div *ngIf="form.ubicacion?.errors?.['maxLenght']  && (form.ubicacion?.dirty || form.ubicacion?.touched)">
                        <p class="overlay-alert-text">Tu ubicación no puede tener más de 60 caracteres.</p>
                    </div>
                    <div *ngIf="form.lugarTrabajo?.errors?.['maxLenght']  && (form.lugarTrabajo?.dirty || form.lugarTrabajo?.touched)">
                        <p class="overlay-alert-text">Tu lugar de trabajo no puede tener más de 60 caracteres.</p>
                    </div>
                    <div *ngIf="form.email?.errors?.['maxLenght']  && (form.email?.dirty || form.email?.touched)">
                        <p class="overlay-alert-text">Tu dirección de e-mail no puede tener más de 60 caracteres.</p>
                    </div>
                    <div *ngIf="form.telefono?.errors?.['maxLenght']  && (form.telefono?.dirty || form.telefono?.touched)">
                        <p class="overlay-alert-text">Tu número de teléfono no puede tener más de 25 caracteres.</p>
                    </div> 
                </div>

                <!--Botones-->
                <div class="overlay-buttons-container">
                    <button type="submit" class="btn btn-outline my-button" [disabled]="!form.componentForm.valid" (click)="submitForm()">
                        <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                        <svg *ngIf="smallScreen" class="bi bi-check-lg button-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>

                    <button type="button" class="btn btn-outline my-button" (click)="cancelForm()">
                        <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                        <svg *ngIf="smallScreen" class="button-icon bi bi-x-lg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>