<div>
    <div class="name-container">
        <p class="me name">{{pers.persona?.nombre + ' ' + pers.persona?.apellido}}</p> 
        <app-edit-button [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'" (click)="clickEditButton()" class="edit-button-here"></app-edit-button>
    </div>
    <p class="me">{{pers.persona?.ocupacion}}</p>
</div>


<app-base-form-persona componente="name" titulo="Ingresa tu nombre y ocupación." (overlayOpenEvent)="changeOverlayOpen($event)" *ngIf="overlayOpen"></app-base-form-persona>