<div>
    <div class="name-container">
        <p class="me name">{{pers.persona?.nombre + ' ' + pers.persona?.apellido}}</p> 
        <app-edit-button [style.visibility]="!login.logedIn? 'hidden': 'visible'" (click)="clickEditButton()" class="edit-button-here"></app-edit-button>
    </div>
    <h6 class="me">{{pers.persona?.ocupacion}}</h6>
</div>

<!--Overlay para la edición-->
<div class="editing-overlay" *ngIf="overlayOpen">
    
    <div class="overlay-container">
        
        <!--Título-->
        <p class="overlay-title">Escribe tu nombre y ocupación.</p>
        <hr class="overlay-hr">

        <!--Formulario-->
        <form [formGroup]="form.componentForm" (ngSubmit)="submitForm()">
            <div>
                <label for="nombre-id" class="overlay-text">Nombre: </label>
                <input id="nombre-id" type="text" formControlName="nombre" class="overlay-input">   
            </div>
            <br>
            <div>
                <label for="apellido-id" class="overlay-text">Apellido: </label>
                <input id="apellido-id" type="text" formControlName="apellido" class="overlay-input">
            </div> 
            <br>
            <div>
                <label for="trabajo-id" class="overlay-text">Ocupación: </label>
                <input id="trabajo-id" type="text" formControlName="ocupacion" class="overlay-input">
            </div>          
        
        
            <div class="overlay-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="overlay-alerts-container">
                    <div *ngIf="form.nombre?.errors?.['required']  && (form.nombre?.dirty || form.nombre?.touched)">
                        <p class="overlay-alert-text">El nombre es obligatorio.</p>
                    </div>
                    <div *ngIf="form.apellido?.errors?.['required']  && (form.apellido?.dirty || form.apellido?.touched)">
                        <p class="overlay-alert-text">El apellido es obligatorio.</p>
                    </div>
                    <div *ngIf="form.ocupacion?.errors?.['required']  && (form.ocupacion?.dirty || form.ocupacion?.touched)">
                        <p class="overlay-alert-text">La ocupación es obligatoria.</p>
                    </div>

                    <div *ngIf="form.nombre?.errors?.['maxLenght']  && (form.nombre?.dirty || form.nombre?.touched)">
                        <p class="overlay-alert-text">El nombre no puede superar los 25 caracteres.</p>
                    </div>
                    <div *ngIf="form.apellido?.errors?.['maxLenght']  && (form.apellido?.dirty || form.apellido?.touched)">
                        <p class="overlay-alert-text">El apellido no puede superar los 25 caracteres.</p>
                    </div>
                    <div *ngIf="form.ocupacion?.errors?.['maxLenght']  && (form.ocupacion?.dirty || form.ocupacion?.touched)">
                        <p class="overlay-alert-text">La ocupación no puede superar los 60 caracteres.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="overlay-buttons-container">
                    <button type="submit" class="btn btn-outline my-button" [disabled]="!form.componentForm.valid">
                        <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                        <img [src]="global.checkIcon" alt="Guardar" *ngIf="smallScreen" class="button-icon"> 
                    </button>
                    <button type="button" class="btn btn-outline my-button" (click)="cancelForm()">
                        <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                        <img [src]="global.xIcon" alt="Cancelar" *ngIf="smallScreen" class="button-icon">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>