.info{
    text-align: justify;
    white-space: pre-wrap;
}

.about-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    align-items: center;
    margin: 0;
    height: 32px;
}

.about-title{
    margin: 0; 
    padding: 0;
}

@media screen and (max-width: 575px) {
    .about-title .info{
        margin-left: 12px;
        margin-right: 12px;
    }

}