<div class="card my-card">

    <div class="card-header card-header-footer">
      <p class="card-footer-header-text">{{educObject?.institucion}}</p>
      
      <div class="card-butttons-container">
        <app-edit-button class="edit-button" [style.visibility]="!login.logedIn? 'hidden': 'visible'" (click)="overlayOpen=true"></app-edit-button>
        <app-delete-button (click)="deleteCard()" [style.visibility]="!login.logedIn? 'hidden': 'visible'"></app-delete-button>
      </div>
  
    </div>
  
    <div class="card-body">
         <h5 class="card-title my-card-title">{{educObject?.titulo}}</h5>
         <p class="card-text card-descripcion">{{educObject?.descripcion}}</p>
    </div>
  
    <div class="card-footer card-header-footer">
  
      <p class="card-footer-header-text" *ngIf="(educObject?.fechaInicio != null)&&(educObject?.fechaFin != null)&&(educObject?.isCurrent==false)">{{educObject?.fechaInicio|date:'mediumDate'}} - {{educObject?.fechaFin | date:'mediumDate'}}</p>
  
      <p class="card-footer-header-text" *ngIf="(educObject?.fechaInicio != null)&&(educObject?.isCurrent==true)">{{educObject?.fechaInicio | date:'mediumDate'}} - presente</p>
  
      <p class="card-footer-header-text" *ngIf="(educObject?.fechaInicio != null)&&(educObject?.fechaFin == null)&&(educObject?.isCurrent==false)">{{educObject?.fechaInicio | date:'mediumDate'}}</p>
  
      <p class="card-footer-header-text" *ngIf="(educObject?.fechaInicio == null)&&(educObject?.isCurrent==true)">Actualmente</p>
  
      <p class="card-footer-header-text" *ngIf="(educObject?.fechaInicio == null)&&(educObject?.fechaFin != null)&&(educObject?.isCurrent==false)">{{educObject?.fechaFin | date:'mediumDate'}}</p>
  
    </div>
</div>

<!--Overlay para la edición-->
<div class="editing-overlay" *ngIf="overlayOpen">
    
    <div class="overlay-container" styles="display: flex; flex-direction: column">
        
        <!--Título-->
        <p class="overlay-title">Ingresa un nuevo ítem.</p>
        <hr class="overlay-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()" class="overlay-form">

            <div class="overlay-scrollable-inputs">
                <div>
                    <label for="titulo-id" class="overlay-text">Título: </label>
                    <input id="titulo-id" type="text" formControlName="titulo" class="overlay-input">   
                </div>
                <br>
                <div>
                    <label for="institucion-id" class="overlay-text">Institución (opcional): </label>
                    <input id="institucion-id" type="text" formControlName="institucion" class="overlay-input">
                </div>    
                <br>
                <div>
                    <label for="descripcion-id" class="overlay-text">Descripción (opcional): </label>
                    <input id="descripcion-id" type="text" formControlName="descripcion" class="overlay-input">
                </div>    
                <br>
                <div>
                    <label for="start-date-id" class="overlay-text">Fecha de inicio (opcional): </label>
                    <input id="start-date-id" type="date" formControlName="fechaInicio" class="overlay-input">
                </div>          
                <br>
                <div>
                    <label for="end-date-id" class="overlay-text">Fecha de finalización (opcional): </label>
                    <input id="end-date-id" type="date" formControlName="fechaFin" class="overlay-input">
                </div> 
                <br>
                <div>
                    <label for="current-id" class="overlay-text">Realizas actualmente este curso?: </label>
                    <input id="current-id" type="checkbox" formControlName="isCurrent">
                </div>        
            </div>
        
            <div class="overlay-alerts-buttons-container"> 
                <!--Alertas-->
                <div *ngIf="titulo?.errors?.['required']  && (titulo?.dirty || titulo?.touched)">
                    <p class="overlay-alert-text">Escribe un título para el ítem.</p>
                </div>
                <div *ngIf="titulo?.errors?.['maxLenght']  && (titulo?.dirty || titulo?.touched)">
                    <p class="overlay-alert-text">El título no puede superar los 100 caracteres.</p>
                </div>
                <div *ngIf="institucion?.errors?.['maxLenght']  && (institucion?.dirty || institucion?.touched)">
                    <p class="overlay-alert-text">La institución no puede superar los 60 caracteres.</p>
                </div>
                <div *ngIf="descripcion?.errors?.['maxLenght']  && (descripcion?.dirty || descripcion?.touched)">
                    <p class="overlay-alert-text">El lugar no puede superar los 250 caracteres.</p>
                </div>

                <!--Botones-->
                <div class="overlay-buttons-container">
                    <button type="submit" class="btn btn-outline my-button" [disabled]="!componentForm.valid">
                        <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                        <img [src]="global.checkIcon" alt="Guardar" *ngIf="smallScreen" class="button-icon"> 
                    </button>
                    <button type="button" class="btn btn-outline my-button" (click)="cancelForm()">
                        <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                        <img [src]="global.xIcon" alt="Cancelar" *ngIf="smallScreen" class="button-icon">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>