<!--Overlay para la edición-->
<div class="editing-overlay">
    
    <div class="overlay-container">
        
        <!--Título-->
        <p class="overlay-title">{{titulo}}</p>
        <hr class="overlay-hr">

        <!--Formulario-->
        <form [formGroup]="form.componentForm" (ngSubmit)="submitForm()">
            <div [ngSwitch]="componente">
                <div *ngSwitchCase="'name'" class="overlay-scrollable-inputs">
                    <div class="input-container">
                        <label for="nombre-id" class="overlay-text">Nombre: </label>
                        <input id="nombre-id" type="text" formControlName="nombre" class="overlay-input">
                        <span class="focus-border-input"></span>  
                    </div>
                    <br>
                    <div class="input-container">
                        <label for="apellido-id" class="overlay-text">Apellido: </label>
                        <input id="apellido-id" type="text" formControlName="apellido" class="overlay-input">
                        <span class="focus-border-input"></span>
                    </div> 
                    <br>
                    <div class="input-container">
                        <label for="trabajo-id" class="overlay-text">Ocupación: </label>
                        <input id="trabajo-id" type="text" formControlName="ocupacion" class="overlay-input">
                        <span class="focus-border-input"></span>
                    </div>
                </div>

                <div *ngSwitchCase="'description'"  class="input-container">
                    <label for="about-me-id" class="form-control overlay-text" hidden>Escribe una breve descripción sobre tí: </label> 
                    <textarea  id="about-me-id" [rows]="smallScreen ? '16' : '10'" type="text" class="form-control overlay-input"  formControlName="descripcion"></textarea>
                    <span class="focus-border-input"></span>
                </div>

                <div *ngSwitchCase="'info'" class="overlay-scrollable-inputs">
                    <div class="input-container">
                        <label for="location-id" class="overlay-text">Ubicación: </label>
                        <input id="location-id" type="text" formControlName="ubicacion" class="overlay-input">
                        <span class="focus-border-input"></span>   
                    </div>
                    <br>
                    <div class="input-container">
                        <label for="workplace-id" class="overlay-text">Lugar de trabajo/estudio: </label>
                        <input id="workplace-id" type="text" formControlName="lugarTrabajo" class="overlay-input">
                        <span class="focus-border-input"></span>
                    </div>  
                    <br>        
                    <div class="input-container">
                        <label for="email-id" class="overlay-text">Dirección de e-mail: </label>
                        <input id="email-id" type="text" formControlName="email" class="overlay-input">
                        <span class="focus-border-input"></span>
                    </div> 
                    <br>
                    <div class="input-container">
                        <label for="phone-id" class="overlay-text">Número de teléfono: </label>
                        <input id="phone-id" type="text" formControlName="telefono" class="overlay-input">
                        <span class="focus-border-input"></span>
                    </div>
                    <br>
                    <div class="input-container">
                        <label for="github-id" class="overlay-text">Link a cuenta de github: </label>
                        <input id="github-id" type="text" formControlName="github" class="overlay-input">
                        <span class="focus-border-input"></span>
                    </div>  
                </div>
            </div>
        
            <div class="overlay-alerts-buttons-container" > 

                <!--Alertas-->
                <div class="overlay-alerts-container" [ngSwitch]="componente">
                    
                    <div *ngSwitchCase="'name'">
                        <div *ngIf="form.nombre?.errors?.['required']  && (form.nombre?.dirty || form.nombre?.touched)">
                            <p class="overlay-alert-text">El nombre es obligatorio.</p>
                        </div>
                        <div *ngIf="form.apellido?.errors?.['required']  && (form.apellido?.dirty || form.apellido?.touched)">
                            <p class="overlay-alert-text">El apellido es obligatorio.</p>
                        </div>
                        <div *ngIf="form.ocupacion?.errors?.['required']  && (form.ocupacion?.dirty || form.ocupacion?.touched)">
                            <p class="overlay-alert-text">La ocupación es obligatoria.</p>
                        </div>
                
                        <div *ngIf="form.nombre?.errors?.['maxlength']  && (form.nombre?.dirty || form.nombre?.touched)">
                            <p class="overlay-alert-text">El nombre no puede superar los 25 caracteres.</p>
                        </div>
                        <div *ngIf="form.apellido?.errors?.['maxlength']  && (form.apellido?.dirty || form.apellido?.touched)">
                            <p class="overlay-alert-text">El apellido no puede superar los 25 caracteres.</p>
                        </div>
                        <div *ngIf="form.ocupacion?.errors?.['maxlength']  && (form.ocupacion?.dirty || form.ocupacion?.touched)">
                            <p class="overlay-alert-text">La ocupación no puede superar los 60 caracteres.</p>
                        </div>
                    </div>

                    <div *ngSwitchCase="'description'">
                        <div *ngIf="form.descripcion?.errors?.['required']  && (form.descripcion?.dirty || form.descripcion?.touched)">
                            <p class="overlay-alert-text">La descripción es obligatoria.</p>
                        </div>
                        <div *ngIf="form.descripcion?.errors?.['minlength']  && (form.descripcion?.dirty || form.descripcion?.touched)">
                            <p class="overlay-alert-text">Escribe una descripción de al menos 100 carateres.</p>
                        </div>
                        <div *ngIf="form.descripcion?.errors?.['maxlength']  && (form.descripcion?.dirty || form.descripcion?.touched)">
                            <p class="overlay-alert-text">Tu descripción no puede superar los 600 carateres.</p>
                        </div>
                    </div>

                    <div *ngSwitchCase="'info'">
                        <div *ngIf="form.ubicacion?.errors?.['required']  && (form.ubicacion?.dirty || form.ubicacion?.touched)">
                            <p class="overlay-alert-text">Escribe tu ubicación.</p>
                        </div>
                        <div *ngIf="form.lugarTrabajo?.errors?.['required']  && (form.lugarTrabajo?.dirty || form.lugarTrabajo?.touched)">
                            <p class="overlay-alert-text">Escribe tu lugar de trabajo.</p>
                        </div>
                        <div *ngIf="form.email?.errors?.['required']  && (form.email?.dirty || form.email?.touched)">
                            <p class="overlay-alert-text">Escribe tu dirección de e-mail.</p>
                        </div>
                        <div *ngIf="form.telefono?.errors?.['required']  && (form.telefono?.dirty || form.telefono?.touched)">
                            <p class="overlay-alert-text">Escribe tu número de teléfono.</p>
                        </div>
                        <div *ngIf="form.email?.errors?.['email']  && (form.email?.dirty || form.email?.touched)">
                            <p class="overlay-alert-text">Escribe una dirección de e-mail válida.</p>
                        </div>
                        <div *ngIf="form.telefono?.errors?.['pattern']  && (form.telefono?.dirty || form.telefono?.touched)">
                            <p class="overlay-alert-text">Escribe un número de teléfono válido.</p>
                        </div>
                        <div *ngIf="form.github?.errors?.['required']  && (form.github?.dirty || form.github?.touched)">
                            <p class="overlay-alert-text">Escribe tu cuenta de github.</p>
                        </div>
                    
                        <div *ngIf="form.ubicacion?.errors?.['maxlength']  && (form.ubicacion?.dirty || form.ubicacion?.touched)">
                            <p class="overlay-alert-text">Tu ubicación no puede tener más de 60 caracteres.</p>
                        </div>
                        <div *ngIf="form.lugarTrabajo?.errors?.['maxlength']  && (form.lugarTrabajo?.dirty || form.lugarTrabajo?.touched)">
                            <p class="overlay-alert-text">Tu lugar de trabajo no puede tener más de 60 caracteres.</p>
                        </div>
                        <div *ngIf="form.email?.errors?.['maxlength']  && (form.email?.dirty || form.email?.touched)">
                            <p class="overlay-alert-text">Tu dirección de e-mail no puede tener más de 60 caracteres.</p>
                        </div>
                        <div *ngIf="form.telefono?.errors?.['maxlength']  && (form.telefono?.dirty || form.telefono?.touched)">
                            <p class="overlay-alert-text">Tu número de teléfono no puede tener más de 25 caracteres.</p>
                        </div> 
                        <div *ngIf="form.github?.errors?.['maxlength']  && (form.github?.dirty || form.github?.touched)">
                            <p class="overlay-alert-text">Tu cuenta de github no puede tener más de 60 caracteres.</p>
                        </div>
                    </div>

                </div>

                <!--Botones-->
                <div class="overlay-buttons-container">
                    <button type="submit" class="btn my-button" [disabled]="!form.componentForm.valid" (click)="submitForm()">
                        <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                        <svg *ngIf="smallScreen" class="button-icon" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>

                    <button type="button" class="btn my-button" (click)="cancelForm()">
                        <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                        <svg *ngIf="smallScreen" class="button-icon"  width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>