<div class="editing-overlay">
    
    <div class="overlay-container">
        
        <!--Título-->
        <p class="overlay-title" *ngIf="isNewItem">Ingresa un nuevo ítem de Experiencia.</p>
        <p class="overlay-title" *ngIf="!isNewItem">Edita este ítem de Experiencia.</p>
        <hr class="overlay-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()" class="overlay-form">
            
            <div class="overlay-scrollable-inputs">
                <div class="input-container">
                    <label for="title-id" class="overlay-text">Título: </label>
                    <input id="title-id" type="text" formControlName="titulo" class="overlay-input">   
                    <span class="focus-border-input"></span>   
                </div>
                <br>
                <div class="input-container">
                    <label for="text-id" class="overlay-text">Descripción (opcional): </label>
                    <input id="text-id" type="text" formControlName="descripcion" class="overlay-input">   
                    <span class="focus-border-input"></span>
                </div>    
                <br>
                <div class="input-container">
                    <label for="place-id" class="overlay-text">Lugar (opcional): </label>
                    <input id="place-id" type="text" formControlName="lugar" class="overlay-input">   
                    <span class="focus-border-input"></span>
                </div>    
                    <br>
                <div class="input-container">
                    <label for="start-date-id" class="overlay-text">Fecha de inicio (opcional): </label>
                    <input id="start-date-id" type="date" formControlName="fechaInicio" class="overlay-input">   
                    <span class="focus-border-input"></span>
                </div>          
                <br>
                <div class="input-container">
                    <label for="end-date-id" class="overlay-text">Fecha de finalización (opcional): </label>
                    <input id="end-date-id" type="date" formControlName="fechaFin" class="overlay-input">   
                    <span class="focus-border-input"></span>
                </div> 
                <br>
                <div class="input-container">
                    <label for="current-id" class="overlay-text">Es tu trabajo actual? </label>
                    <input id="current-id" type="checkbox" formControlName="isCurrent"  class="form-check-input">
                </div>        
            </div>
        
            <div class="overlay-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="overlay-alerts-container">
                    <div *ngIf="titulo?.errors?.['required']  && (titulo?.dirty || titulo?.touched)">
                        <p class="overlay-alert-text">Escribe un título para el ítem.</p>
                    </div>
                    <div *ngIf="titulo?.errors?.['maxlength']  && (titulo?.dirty || titulo?.touched)">
                        <p class="overlay-alert-text">El título no puede superar los 60 caracteres.</p>
                    </div>
                    <div *ngIf="descripcion?.errors?.['maxlength']  && (descripcion?.dirty || descripcion?.touched)">
                        <p class="overlay-alert-text">La descripción no puede superar los 250 caracteres.</p>
                    </div>
                    <div *ngIf="lugar?.errors?.['maxlength']  && (lugar?.dirty || lugar?.touched)">
                        <p class="overlay-alert-text">El lugar no puede superar los 50 caracteres.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="overlay-buttons-container">
                    <button type="submit" class="btn my-button" [disabled]="!componentForm.valid" (click)="submitForm()">
                        <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                        <svg *ngIf="smallScreen" class="button-icon" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>
    
                    <button type="button" class="btn my-button" (click)="cancelForm()">
                        <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                        <svg *ngIf="smallScreen" class="button-icon" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>