<div class="editing-modal">
    
    <div class="modal-container">
        
        <!--Título-->
        <p class="modal-title" *ngIf="isNewItem">Ingresa un nuevo ítem.</p>
        <p class="modal-title" *ngIf="!isNewItem">Edita este ítem.</p>
        <hr class="modal-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()" class="modal-form">
            
            <div class="modal-scrollable-inputs">
                <div class="modal-input-container">
                    <label for="titulo-id" class="modal-text">Título: </label>
                    <input id="titulo-id" type="text" formControlName="titulo" class="modal-input"> 
                    <span class="focus-border-input"></span>  
                </div>
                <br>
                <div class="modal-input-container">
                    <label for="descripcion-id" class="modal-text">Descripción (opcional): </label>
                    <input id="descripcion-id" type="text" formControlName="descripcion" class="modal-input">
                    <span class="focus-border-input"></span>
                </div>    
                <br>
                <div class="modal-input-container">
                    <label for="fecha-id" class="modal-text">Fecha (opcional): </label>
                    <input id="fecha-id" type="date" formControlName="fecha" class="modal-input">
                    <span class="focus-border-input"></span>
                </div>          
                <br>
                <div class="modal-input-container">
                    <label for="link-id" class="modal-text">Link: </label>
                    <input id="link-id" type="text" formControlName="link" class="modal-input">
                    <span class="focus-border-input"></span>
                </div>        
            </div>
        
            <div class="modal-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="modal-alerts-container">
                    <div *ngIf="titulo?.errors?.['required']  && (titulo?.dirty || titulo?.touched)">
                        <p class="modal-alert-text">Escribe un título para el ítem.</p>
                    </div>
                    <div *ngIf="titulo?.errors?.['maxlength']  && (titulo?.dirty || titulo?.touched)">
                        <p class="modal-alert-text">El título no puede superar los 45 caracteres.</p>
                    </div>
                    <div *ngIf="link?.errors?.['maxlength']  && (link?.dirty || link?.touched)">
                        <p class="modal-alert-text">El link no puede superar los 60 caracteres.</p>
                    </div>
                    <div *ngIf="descripcion?.errors?.['maxlength']  && (descripcion?.dirty || descripcion?.touched)">
                        <p class="modal-alert-text">El lugar no puede superar los 250 caracteres.</p>
                    </div>
                </div>
                
                <!--Botones-->
                <div class="modal-buttons-container">
                    <button type="submit" class="btn my-button" [disabled]="!componentForm.valid" (click)="submitForm()">
                        <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                        <svg *ngIf="smallScreen" class="button-icon"width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>
    
                    <button type="button" class="btn my-button" (click)="cancelForm()">
                        <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                        <svg *ngIf="smallScreen" class="button-icon" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                        </svg>
                    </button>
                </div>
                
            </div>
        </form>
    </div>
</div>

