<div class="editing-modal">
    
    <div class="modal-container">
        
        <!--Título-->
        <p class="modal-title">Escribe una breve descripcion sobre tí.</p>
        <hr class="modal-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()">
            
            <div class="modal-input-container">
                <label for="about-me-id" class="form-control visually-hidden">Escribe una breve descripción sobre tí: </label> 
                <textarea  id="about-me-id" rows="12" type="text" class="form-control modal-input"  formControlName="descripcion"></textarea>
                <span class="focus-border-input"></span>
            </div>

            <div class="modal-alerts-buttons-container" > 

                <!--Alertas-->
                <div class="modal-alerts-container">
                    <div *ngIf="descripcion?.errors?.['required']  && (descripcion?.dirty || descripcion?.touched)">
                        <p class="modal-alert-text">La descripción es obligatoria.</p>
                    </div>
                    <div *ngIf="descripcion?.errors?.['minlength']  && (descripcion?.dirty || descripcion?.touched)">
                        <p class="modal-alert-text">Escribe una descripción de al menos 100 carateres.</p>
                    </div>
                    <div *ngIf="descripcion?.errors?.['maxlength']  && (descripcion?.dirty || descripcion?.touched)">
                        <p class="modal-alert-text">Tu descripción no puede superar los 600 carateres.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="modal-buttons-container">
                    <app-save-button (clickEvent)="submitForm()" [desactivado]="!componentForm.valid"></app-save-button>
                    <app-cancel-button (click)="cancelForm()"></app-cancel-button>
                </div>
            </div>
        </form>
    </div>
</div>