<div class="this-background">
    
    <img [src]="backgroundImages[random]" class="background-image">

    <div class="overlay-container">
        
        <!--Título-->
        <p class="overlay-title">Inicia sesión</p>
        <hr class="overlay-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()">
            <div class="input-container">
                <label for="user-id" class="overlay-text">Usuario: </label>
                <input id="user-id" type="text" formControlName="username" class="overlay-input">   
                <span class="focus-border-input"></span>
            </div>
            <br>
            <div class="input-container">
                <label for="password-id" class="overlay-text">Constraseña: </label>
                <input id="password-id" type="password" formControlName="password" class="overlay-input">
                <span class="focus-border-input"></span>
            </div>  
        
            <div class="overlay-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="overlay-alerts-container">
                    <div *ngIf="username?.errors?.['required']  && (username?.dirty || username?.touched)">
                        <p class="overlay-alert-text">Ingresa tu usuario.</p>
                    </div>
                    <div *ngIf="password?.errors?.['required']  && (password?.dirty || password?.touched)">
                        <p class="overlay-alert-text">Ingresa tu contraseña.</p>
                    </div>
                    <div *ngIf="auth.wrongAuth">
                        <p class="overlay-alert-text">Usuario o contraseña incorrectos.</p>
                    </div>
                    <div *ngIf="auth.failedAuth">
                        <p class="overlay-alert-text">Error al autenticar. Intenta de nuevo.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="overlay-buttons-container">
                    <button type="submit" class="btn my-button" [disabled]="!componentForm.valid" (click)="submitForm()">
                        <p *ngIf="!smallScreen" class="button-text">Iniciar sesión</p>
                        <svg *ngIf="smallScreen" class="button-icon" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn my-button" (click)="invitado()">
                        <p *ngIf="!smallScreen" class="button-text">Ingresa como invitado</p>
                        <p *ngIf="smallScreen" class="button-text">Invitado</p>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
