.this-background{
    background-color: black;
}

.background-image{
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
}

.modal-container{
    background-color: var(--low-opacty-black);
    z-index: 200;
}

.modal-text, .modal-hr, .modal-alert-text{
    color: var(--lighter-color);
    font-weight: 300;
}

.modal-title{
    color: var(--lighter-color);
}

.my-button{
    color: var(--lighter-color);
    border-color: var(--lighter-color);
}
.my-button:hover{
    background-color: rgba(255, 255, 255, 0.286);
}

.modal-input{
    color: var(--text-color);
}





