.this-background{
    background-color: black;
}

.background-image{
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
}

.overlay-container{
    background-color: var(--low-opacty-black);
    z-index: 200;
}

.overlay-text, .overlay-hr, .overlay-alert-text{
    color: var(--lighter-color);
    font-weight: 300;
}

.overlay-title{
    color: var(--lighter-color);
}

.my-button{
    color: var(--lighter-color);
    border-color: var(--lighter-color);
}

.overlay-input{
    color: var(--text-color);
}





