<div class="this-background">
    
    <img [src]="backgroundImages[random]" class="background-image">

    <div class="modal-container">

        <div class="invitado">
            <p class="modal-title bienvenido">Bienvenido</p>
            <button type="button" class="btn my-button my-button-login" (click)="invitado()">
                <p class="button-text">Ver portfolio</p>
            </button>
        </div>

        <div class="divisor">
            <hr class="modal-hr">
            <p  class="modal-title"> o </p>
            <hr class="modal-hr">
        </div>
        
        
        <!--Título-->
        <p class="modal-title">Inicia sesión para editar</p>
        

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()">
            <div class="modal-input-container">
                <label for="user-id" class="modal-text">Usuario: </label>
                <input id="user-id" type="text" formControlName="username" class="modal-input">   
                <span class="focus-border-input"></span>
            </div>
            <br>
            <div class="modal-input-container">
                <label for="password-id" class="modal-text">Constraseña: </label>
                <input id="password-id" type="password" formControlName="password" class="modal-input">
                <span class="focus-border-input"></span>
            </div>  
        
            <div class="modal-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="modal-alerts-container">
                    <div *ngIf="username?.errors?.['required']  && (username?.dirty)">
                        <p class="modal-alert-text">Ingresa tu usuario.</p>
                    </div>
                    <div *ngIf="password?.errors?.['required']  && (password?.dirty)">
                        <p class="modal-alert-text">Ingresa tu contraseña.</p>
                    </div>
                    <div *ngIf="auth.wrongAuth">
                        <p class="modal-alert-text">Usuario o contraseña incorrectos.</p>
                    </div>
                    <div *ngIf="auth.failedAuth">
                        <p class="modal-alert-text">Error al autenticar. Intenta de nuevo.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="modal-buttons-container">
                    <app-save-button (clickEvent)="submitForm()" [desactivado]="!componentForm.valid" titulo="Iniciar sesión" clases="my-button-login"></app-save-button>
                </div>
            </div>
        </form>
    </div>
</div>
