.banner{
    height: 40vh;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size:cover;
}

.profile-pic-container{
    display: flex;
    justify-content: center;
}

#profile-pic{
    align-self: start;
    width:80%;
    max-width: 50vw;
    aspect-ratio: 1 / 1;
    border-color:white;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--shadow-color);
    object-fit: cover;
    margin-top: -40%;
    margin-left: auto;
    margin-right: auto;
}

.me{
    margin:auto;
    margin-top: 12px;
    margin-bottom: 5px;
    margin-left: 0;
    text-align: left;
}

.name{
    font-size:x-large;
    font-weight: 600;
    margin: 0;
    align-self:center; 
}

.name-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.edit-button{
   align-self:center; 
   margin-left: 6px;
}

@media screen and (max-width: 575px) {
    .me-container{
        text-align: center; 
    }
}