.profile-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 1 / 1;
    border-color: var(--main-color-low-opacity);
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--shadow-color);
    margin-top: -40%;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    max-width: 50vw;
}

.profile-pic{
    align-self: start;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.edit-button{
    position: absolute;
    z-index: 200;
    color: rgba(255, 255, 255, 0.859);
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.button-text{
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
}
