<div class="component-header">
    <p class="skill-item-text"><b class="skill-item-title">{{skillTitle}}</b>: {{skillDescription}}</p>

    <div class="component-header-buttons">
        <app-edit-button class="edit-button"  (click)="overlayOpen=true" [style.visibility]="!service.editing? 'hidden': 'visible'"></app-edit-button>
        <app-delete-button (click)="deleteItem()" [style.visibility]="!service.editing? 'hidden': 'visible'"></app-delete-button>
    </div>
</div>

<div class="progress skill-progress">
    <div class="progress-bar skill-progress-bar" role="progressbar" [ngStyle]="{'width': skillWidth, 'min-width': skillWidth}" [attr.aria-valuenow]="skillValue" aria-valuemin="0" aria-valuemax="100">
        <div class="skill-progress-value">{{usedLabel}}</div>
    </div>
</div>

<!--Overlay para la edición-->
<div class="editing-overlay" *ngIf="overlayOpen">
    
    <div class="overlay-container">
        
        <!--Título-->
        <p class="overlay-title">Ingresa un nuevo ítem.</p>
        <hr class="overlay-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()" class="overlay-form">
            
            <div class="overlay-scrollable-inputs">
                <div>
                    <label for="title-id" class="overlay-text">Título: </label>
                    <input id="title-id" type="text" formControlName="titleForm" class="overlay-input">   
                </div>
                <br>
                <div>
                    <label for="description-id" class="overlay-text">Descripción (opcional): </label>
                    <input id="description-id" type="text" formControlName="descriptionForm" class="overlay-input">
                </div>    
                <br>
                <div>
                    <label for="value-id" class="overlay-text">Valor (entre 0 y 100): </label>
                    <input id="value-id" type="number" formControlName="valueForm" class="overlay-input">
                </div>    
                    <br>
                <div>
                    <label for="label-id" class="overlay-text">Etiqueta (omitir para utilizar el porcentaje): </label>
                    <input id="label-id" type="text" formControlName="labelForm" class="overlay-input">
                </div>                
            </div>
        
            <div class="overlay-alerts-buttons-container"> 
                <!--Alertas-->
                <div class="overlay-alerts-container">
                    <div *ngIf="titleForm?.errors?.['required']  && (titleForm?.dirty || titleForm?.touched)">
                        <p class="overlay-alert-text">Escribe un título para el ítem.</p>
                    </div>
                    <div *ngIf="titleForm?.errors?.['maxLenght']  && (titleForm?.dirty || titleForm?.touched)">
                        <p class="overlay-alert-text">El título no puede superar los 25 caracteres.</p>
                    </div>
                    
                    <div *ngIf="descriptionForm?.errors?.['maxLenght']  && (descriptionForm?.dirty || descriptionForm?.touched)">
                        <p class="overlay-alert-text">La descripción no puede superar los 150 caracteres.</p>
                    </div>
                    <div *ngIf="labelForm?.errors?.['maxLenght']  && (labelForm?.dirty || labelForm?.touched)">
                        <p class="overlay-alert-text">La etiqueta no puede superar los 25 caracteres.</p>
                    </div>

                    <div *ngIf="valueForm?.errors?.['required']  && (valueForm?.dirty || valueForm?.touched)">
                        <p class="overlay-alert-text">Ingresa un valor.</p>
                    </div>
                    <div *ngIf="(valueForm?.errors?.['max'] || valueForm?.errors?.['min'])  && (valueForm?.dirty || valueForm?.touched)">
                        <p class="overlay-alert-text">El valor debe hallarse entre 0 y 100.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="overlay-buttons-container">
                    <button type="submit" class="btn btn-outline my-button" [disabled]="!componentForm.valid">
                        <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                        <img [src]="global.checkIcon" alt="Guardar" *ngIf="smallScreen" class="button-icon"> 
                    </button>
                    <button type="button" class="btn btn-outline my-button" (click)="cancelForm()">
                        <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                        <img [src]="global.xIcon" alt="Cancelar" *ngIf="smallScreen" class="button-icon">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



