<div class="container-xl">
    <div class="component-header">
        <h5>Skills</h5>

        <div class="component-header-buttons">
            <app-add-button (click)="showModal=true" [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'"></app-add-button>
            <app-drag-button (click)="showModalOrder=true" [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'"></app-drag-button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-12" >
            <h6>Hard skills</h6>
            <div *ngFor="let item of service.items">
                <app-skill-item *ngIf="item.tipo == 'hard'" [object]="item"></app-skill-item>
            </div>
        </div>

        <div class="col-md-6 col-12" >
            <h6>Soft skills</h6>
            <div *ngFor="let item of service.items">
                <app-skill-item *ngIf="item.tipo == 'soft'" [object]="item"></app-skill-item>
            </div>
        </div>

        <div class="col-12">
            <h6>Idiomas</h6>
            <div *ngFor="let item of service.items">
                <app-skill-item *ngIf="item.tipo == 'idioma'" [object]="item"></app-skill-item>
            </div>
        </div>
    </div>  
</div>

<app-skill-form [isNewItem]="true"  (showModalEvent)="changeShowModal($event)" *ngIf="showModal"></app-skill-form>
<app-skill-order-form (showModalEvent)="changeShowModalOrder($event)" *ngIf="showModalOrder"></app-skill-order-form>



