<div class="card" (clickOutside)="verDescripcion = false">
  <div [style.visibility]="!verDescripcion? 'visible': 'hidden'">
     
    <img class="card-img-top" [src]="object.imagen? service.imagenes[object.id] : 'assets/images/default-proyecto.png' " alt="Imagen de proyecto">
    
    <button aria-label="Ver imagen grande" type="button" class="btn icon-button image-button" *ngIf="object.imagen && !login.editando">
      <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16" (click)="imagenGrande = true">
        <title>Ver grande</title>
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>

    <app-edit-button  clases="image-button" *ngIf="login.editando" (click)="showModalImagen = true"></app-edit-button>

    <div class="card-body">
      <h5 class="card-title">{{object.titulo}}</h5>
      
      <div class="card-link-container">
        <a [href]="object.link" class="card-link" target="_blank">{{object.link}}</a>
      </div>

      <div class="this-card-footer">
        <p class="card-date">{{object?.fecha|date:'mediumDate'}}</p>
        

        <app-ver-descripcion-button clases="icon-button-proyecto" (click)="verDescripcion=true" *ngIf="!login.editando" [style.visibility]="(object?.descripcion && !verDescripcion)? 'visible': 'hidden'"></app-ver-descripcion-button>

        <div class="icon-buttons-container" *ngIf="(login.isAdmin() && login.editando)">
          <app-delete-button (click)="showModalDelete = true" clases="icon-button-proyecto"></app-delete-button>
          <app-edit-button (click)="showModal=true" clases="icon-button-proyecto"></app-edit-button>
        </div>
        
      </div>
    </div>
  </div>

  <div [style.visibility]="verDescripcion? 'visible': 'hidden'" class="card-description">
    <p class="description-text">{{object?.descripcion}}</p>
    <app-ocultar-descripcion-button clases="icon-button-proyecto" class="ocultar-descripcion-proyecto" (click)="verDescripcion = false"></app-ocultar-descripcion-button> 
  </div>
</div>

<app-proyecto-form [isNewItem]="false" [object]="object"  (showModalEvent)="changeShowModal($event)" *ngIf="showModal"></app-proyecto-form>
<app-proyecto-imagen-form  [id]="object.id" (showModalEvent)="changeShowModalImagen($event)" *ngIf="showModalImagen"></app-proyecto-imagen-form>
<app-confirmacion-eliminar *ngIf="showModalDelete" (showDeleteModalEvent)="changeShowModalDelete($event)" (confirmDeleteEvent)="deleteItem()"></app-confirmacion-eliminar>
<app-proyecto-imagen-grande [imagen]="service.imagenes[object.id]" (imagenGrandeEvent)="changeImagenGrande($event)" *ngIf="imagenGrande"></app-proyecto-imagen-grande>