@import '~@angular/cdk/overlay-prebuilt.css';

/*html,body{
    overflow-x: hidden;
}*/

/*colores*/
:root{
    --main-color: rgb(120, 47, 172);
    --back-color: whitesmoke;
    --shadow-color: black;
    --light-text-color: rgb(59, 59, 59);
    --lighter-text-color: dimgray;
    --input-color: rgb(206, 206, 206);
}

/*botones*/
.my-button{
    color: var(--main-color);
    border-color: var(--main-color);
    margin-right: 3%;
    display: flex;
    border-width: 2px;
    font-weight: 600;
    height: 46px;
    align-content: center;
}

.button-icon{
    margin:auto;
}

.button-text{
    margin:auto;
}

.edit-button{
    margin: 0;
    height: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: dimgray;
}

/*Overlay*/

.editing-overlay{
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(43, 38, 46, 0.75);
    backdrop-filter: blur(5px);
    z-index: 500; 
    position: fixed; 
    top: 0;
    left: 0;
}

.overlay-container{
    background-color: var(--back-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    /*border-radius: 16px;*/
    padding: 32px;
    box-shadow: 0px 0px 10px  var(--shadow-color);
    max-height: 90vh;
}

.overlay-title{
    text-align: center; 
    color: var(--main-color);
    font-weight: 500;
    background-color: transparent;
    border: 0;
    margin: 0;
}

.overlay-hr{
    color: var(--main-color); 
    opacity: 100%;
}

.overlay-form{
    display: flex; 
    flex-direction: column; 
    height: 70vh;
}

.overlay-scrollable-inputs{
    overflow-y: scroll;
}

.overlay-text{
    color: var(--light-text-color);
    font-weight: 500;
    background-color: transparent;
    border: 0;
}

.overlay-alerts-buttons-container{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.overlay-buttons-container{
    display: flex;
    flex-direction: row-reverse;
}

.overlay-alert-text{
    font-size: small;
    color: var(--main-color);
    margin: 0;
    
}

.overlay-alerts-container{
    min-height: 48px;
    align-content: center;
    padding: 0;
    padding-right: 12px;
}

.overlay-input{
    border-width: 0;
    background-color: var(--input-color);
    padding: 10px;
    width: 100%;
    min-width: max-content;
    border-bottom-width: 2px;
    border-color: lightslategrey;
}

.overlay-input:focus{
    outline:none;
    background-color: var(--input-color);
    border-color: var(--main-color);
}

@media screen and (max-width: 575px) {
    .overlay-container{
        padding: 16px 16px;
    }
}

@media screen and (max-width: 800px) {
    .overlay-container{
        width: 90vw;
    }
}

/*Cards*/

.my-card{
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    background-color: var(--background-color);
    text-align: justify;
    width: 100%;
    height: 100%;
}

.my-card-title{
    text-align: left;
    font-size: large;
    color:var(--main-color);
}

.card-descripcion{
    color: var(--light-text-color);
}

.card-footer-header-text{
    color: var(--light-text-color);
    text-align: left;
    margin:0;
    font-size: small;
}

.card-header-footer {
    background-color: var(--input-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-butttons-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-content: center;
    align-items: center;
}

.component-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 0,
}

.component-header-buttons {
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

