@import '~@angular/cdk/overlay-prebuilt.css';

/*colores*/
:root{
    --main-color: rgb(218, 207, 141);
    --main-color-darker: rgb(86, 74, 62);
    --main-color-dark: rgb(151, 118, 81);
    --main-color-low-opacity: rgba(255, 246, 194, 0.633);

    --back-color: rgb(9, 9, 9);
    --text-color: whitesmoke;
    --shadow-color: rgb(158, 152, 118);

    --low-opacty-black: rgba(0, 0, 0, 0.797);
    --low-opacity-white: rgba(255, 255, 255, 0.727);
    --lighter-color: rgb(231, 231, 231);
    --input-color: rgb(144, 153, 143);
    --gray-color: rgb(60, 60, 60);
    

    --header-color: rgb(0, 0, 0);
    --dropdown-header-item-opacity: rgba(255, 242, 167, 0.608);

    --back-color-low-opacity: rgba(9, 9, 9, 0.432);
    --edit-button-color: whitesmoke;
}


p, h6, h5 {
    color: var(--text-color);
}

body {
    background-color:var(--back-color);
    height: 100%;
}

hr{
    color: var(--shadow-color);
}

/*botones*/

.my-button{
    color: var(--main-color);
    border-color: var(--main-color);
    margin-right: 3%;
    display: flex;
    border-width: 1px;
    font-weight: 400;
    height: 46px;
    align-content: center;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    /*overflow: hidden; */
}

.my-button:hover{
    color:var(--main-color)
}

.my-button:focus{
    outline: none;
    box-shadow: none;
}

.button-icon{
    margin:auto;
}

.button-text{
    margin:auto;
    color: currentColor;
}

.edit-button{
    margin: 0;
    padding: 0;
    height: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: var(--edit-button-color);
    transition: transform .2s ease-in-out; 
}

.edit-button:hover { 
    transform: scale(1.4); 
    color:var(--main-color)
}

.edit-button:focus{
    outline: none;
    box-shadow: none;
}

/*otros*/ 

.component-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 0,
}

.component-header-buttons {
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
    flex-direction: row;
}