<div class="editing-modal">
    
    <div class="modal-container">
        
        <!--Título-->
        <p class="modal-title">Ingresa los siguienes datos personales.</p>
        <hr class="modal-hr">

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()">
            
            <div  class="modal-scrollable-inputs">
                <div class="modal-input-container">
                    <label for="location-id" class="modal-text">Ubicación: </label>
                    <input id="location-id" type="text" formControlName="ubicacion" class="modal-input">
                    <span class="focus-border-input"></span>   
                </div>
                <br>
                <div class="modal-input-container">
                    <label for="workplace-id" class="modal-text">Lugar de trabajo/estudio: </label>
                    <input id="workplace-id" type="text" formControlName="lugarTrabajo" class="modal-input">
                    <span class="focus-border-input"></span>
                </div>  
                <br>        
                <div class="modal-input-container">
                    <label for="email-id" class="modal-text">Dirección de e-mail: </label>
                    <input id="email-id" type="text" formControlName="email" class="modal-input">
                    <span class="focus-border-input"></span>
                </div> 
                <br>
                <div class="modal-input-container">
                    <label for="phone-id" class="modal-text">Número de teléfono: </label>
                    <input id="phone-id" type="text" formControlName="telefono" class="modal-input">
                    <span class="focus-border-input"></span>
                </div>
                <br>
                <div class="modal-input-container">
                    <label for="github-id" class="modal-text">Link a cuenta de github: </label>
                    <input id="github-id" type="text" formControlName="github" class="modal-input">
                    <span class="focus-border-input"></span>
                </div>  
            </div>
            
            <div class="modal-alerts-buttons-container" > 

                <!--Alertas-->
                <div class="modal-alerts-container">
                    <div *ngIf="ubicacion?.errors?.['required']  && (ubicacion?.dirty || ubicacion?.touched)">
                        <p class="modal-alert-text">Escribe tu ubicación.</p>
                    </div>
                    <div *ngIf="lugarTrabajo?.errors?.['required']  && (lugarTrabajo?.dirty || lugarTrabajo?.touched)">
                        <p class="modal-alert-text">Escribe tu lugar de trabajo.</p>
                    </div>
                    <div *ngIf="email?.errors?.['required']  && (email?.dirty || email?.touched)">
                        <p class="modal-alert-text">Escribe tu dirección de e-mail.</p>
                    </div>
                    <div *ngIf="telefono?.errors?.['required']  && (telefono?.dirty || telefono?.touched)">
                        <p class="modal-alert-text">Escribe tu número de teléfono.</p>
                    </div>
                    <div *ngIf="email?.errors?.['email']  && (email?.dirty || email?.touched)">
                        <p class="modal-alert-text">Escribe una dirección de e-mail válida.</p>
                    </div>
                    <div *ngIf="telefono?.errors?.['pattern']  && (telefono?.dirty || telefono?.touched)">
                        <p class="modal-alert-text">Escribe un número de teléfono válido.</p>
                    </div>
                    <div *ngIf="github?.errors?.['required']  && (github?.dirty || github?.touched)">
                        <p class="modal-alert-text">Escribe tu cuenta de github.</p>
                    </div>
                
                    <div *ngIf="ubicacion?.errors?.['maxlength']  && (ubicacion?.dirty || ubicacion?.touched)">
                        <p class="modal-alert-text">Tu ubicación no puede tener más de 60 caracteres.</p>
                    </div>
                    <div *ngIf="lugarTrabajo?.errors?.['maxlength']  && (lugarTrabajo?.dirty || lugarTrabajo?.touched)">
                        <p class="modal-alert-text">Tu lugar de trabajo no puede tener más de 60 caracteres.</p>
                    </div>
                    <div *ngIf="email?.errors?.['maxlength']  && (email?.dirty || email?.touched)">
                        <p class="modal-alert-text">Tu dirección de e-mail no puede tener más de 60 caracteres.</p>
                    </div>
                    <div *ngIf="telefono?.errors?.['maxlength']  && (telefono?.dirty || telefono?.touched)">
                        <p class="modal-alert-text">Tu número de teléfono no puede tener más de 25 caracteres.</p>
                    </div> 
                    <div *ngIf="github?.errors?.['maxlength']  && (github?.dirty || github?.touched)">
                        <p class="modal-alert-text">Tu cuenta de github no puede tener más de 60 caracteres.</p>
                    </div>
                </div>

                <!--Botones-->
                <div class="modal-buttons-container">
                    <button aria-label="Guardar cambios" type="submit" class="btn my-button" [disabled]="!componentForm.valid" (click)="submitForm()">
                        <p class="d-none d-sm-flex button-text">Guardar</p>
                        <svg class="d-flex d-sm-none button-icon" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>
    
                    <button aria-label="Cancelar cambios" type="button" class="btn my-button" (click)="cancelForm()">
                        <p class="d-none d-sm-flex button-text">Cancelar</p>
                        <svg class="d-flex d-sm-none button-icon" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>