<div class="profile-pic-container">
    
    <img class="profile-pic" 
        [src]="pers.imagenPerfil" 
        alt="Imagen de perfil"    
        [style.filter]="(login.isAdmin() && login.editando)? ' contrast(70%) brightness(50%)': 'none'"
    >

    <app-edit-button class="icon-button-perfil" [style.visibility]="(login.isAdmin() && login.editando)? 'visible': 'hidden'" (click)="showModal = true"></app-edit-button>
</div> 


<app-image-form propiedad="imagenPerfil" (showModalEvent)="changeShowModal($event)" *ngIf="showModal"></app-image-form>