<div (mouseenter)="showEditButton=true" (mouseleave)="showEditButton=false">
    <div class="name-container">
        <p class="me name">{{global.nombre}}</p> 
        <button  type="button" class="btn btn-outline edit-button" [hidden]="!showEditButton" (click)="overlayOpen=true">
            <img [src]="global.editIcon" alt="Editar">
        </button>
    </div>
    <h6 class="me">{{global.trabajo}}</h6>
</div>

<!--Overlay para la edición-->
<div class="editing-overlay" *ngIf="overlayOpen">
    
    <div class="overlay-container">
        
        <!--Título-->
        <p class="overlay-text"> 
            Escribe tu nombre y ocupación.
        </p>  

        <!--Formulario-->
        <form [formGroup]="componentForm" (ngSubmit)="submitForm()">
            <div>
                <label for="nombre-id" class="overlay-text">Nombre completo: </label>
                <input id="nombre-id" type="text" formControlName="nombreForm" class="overlay-input">   
            </div>
            <br>
            <div>
                <label for="trabajo-id" class="overlay-text">Ocupación: </label>
                <input id="trabajo-id" type="text" formControlName="trabajoForm" class="overlay-input">
            </div>          
        </form>
        
        <div class="overlay-alerts-buttons-container"> 
            <!--Alertas-->
            <div class="overlay-alerts-container">
                <div *ngIf="nombreForm?.errors?.['required']  && (nombreForm?.dirty || nombreForm?.touched)">
                    <p class="overlay-alert-text">El nombre es obligatorio.</p>
                </div>
                <div *ngIf="trabajoForm?.errors?.['required']  && (trabajoForm?.dirty || trabajoForm?.touched)">
                    <p class="overlay-alert-text">La ocupación es obligatoria.</p>
                </div>
            </div>

            <!--Botones-->
            <div class="overlay-buttons-container">
                <button type="submit" class="btn btn-outline my-button" [disabled]="!componentForm.valid" (click)="submitForm()">
                    <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                    <img [src]="global.checkIcon" alt="Guardar" *ngIf="smallScreen" class="button-icon"> 
                </button>
                <button type="button" class="btn btn-outline my-button" (click)="overlayOpen=false">
                    <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                    <img [src]="global.xIcon" alt="Cancelar" *ngIf="smallScreen" class="button-icon">
                </button>
            </div>
        </div>
    </div>
</div>