<div  (mouseenter)="showEditButton = true" (mouseleave)="showEditButton = false">

    <!--Título + Botón de editar-->
    <div class="about-header">
        <h6 class="about-title"> Acerca de mí</h6>
        <button [hidden]="!showEditButton && !smallScreen" type="button" class="btn btn-outline edit-button" (click)="overlayOpen=true">
            <img [src]="global.editIcon" alt="Editar">
        </button>
    </div>
    
    <!--Texto sobre mí-->
    <p class="info">{{global.sobreMi}}</p>  
</div>

<!--Overlay para la edición de Sobre Mí-->
<div class="editing-overlay" *ngIf="overlayOpen">
    
    <!--Overlay-->
    <div class="overlay-container">
        
        <!--Título-->
        <label for="about-me-id" class="form-control overlay-text"> 
            Escribe una breve descripción sobre tí: 
        </label>        
    
        <!--Input-->
        <textarea  id="about-me-id" [rows]="smallScreen ? '16' : '10'" type="text" class="form-control overlay-input"  [formControl]="componentForm" requiered (ngSubmit)="submitForm()"></textarea>

        <div class="overlay-alerts-buttons-container">
            
            <!--Alertas-->
            <div class="overlay-alerts-container">
                <div *ngIf="componentForm.errors?.['required']  && (componentForm.dirty || componentForm.touched)">
                    <p class="overlay-alert-text">La descripción es obligatoria.</p>
                </div>
                <div *ngIf="componentForm.errors?.['minlength']  && (componentForm.dirty || componentForm.touched)">
                    <p class="overlay-alert-text">Escribe una descripción de al menos 100 carateres.</p>
                </div>
                <div *ngIf="componentForm.errors?.['maxlength']  && (componentForm.dirty || componentForm.touched)">
                    <p class="overlay-alert-text">Tu descripción no puede superar los 600 carateres.</p>
                </div> 
            </div>

            <!--Botones-->
            <div class="overlay-buttons-container">

                <button type="submit" class="btn btn-outline my-button" [disabled]="!componentForm.valid" (click)="submitForm()">
                    <p *ngIf="!smallScreen" class="button-text">Guardar</p>
                    <img [src]="global.checkIcon" alt="Guardar" *ngIf="smallScreen" class="button-icon"> 
                </button>

                <button type="button" class="btn btn-outline my-button" (click)="overlayOpen=false">
                    <p *ngIf="!smallScreen" class="button-text">Cancelar</p>
                    <img [src]="global.xIcon" alt="Cancelar" *ngIf="smallScreen" class="button-icon">
                </button>
            </div>
        </div>
    </div>
</div>